* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.735);
}

.container-button {
    padding: 5px;
    background-color: green;
}
.container-button button {
   border: solid 2px green;
   border-radius: 10px;
   padding: 10px 20px;
   color: green;
   background-color: white;
   transition: background-color .3s ease;
   transition: color .3s ease;
   
}

.container-button button:hover {
    background-color: green;
    border: none;
    color: white;
    
}

